/*------------------------------------*\
    TO KEEP FOR ALL THE NEWS
\*------------------------------------*/

.presse__20160401--content {
  /* display: grid; */
  /* grid-template-columns: repeat(3, calc(var(--newsColumn) / 2)); */
  grid-template-rows: 60px !important;
  /* grid-auto-rows: 40px; */
  /* grid-row-gap: 10px; */
  /* grid-column-gap: 5px; */
  margin-bottom:  45px;
}

/*------------------------------------*\
    TO THIS PARTICULAR NEWS
\*------------------------------------*/

/********** COLUMN 1 ********/
.presse__20160401--title {
  grid-column: 1; 
  grid-row: 1 / 2;
  text-transform: uppercase;
  -webkit-text-stroke: 1.5px var(--black);
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.presse__20160401--pic1 {
  grid-column: 1 / 3; 
  grid-row: 2 / 7;
  overflow:  hidden;
}

.presse__20160401--pic1 img {
  width: 100%;
}

/* .presse__20160401--pic2 {
  grid-column: 1 / 3; 
  grid-row: 5 / 7;
  overflow:  hidden;
}

.presse__20160401--pic2 img {
  width: 100%;
  bottom:  0;
} */


/********** COLUMN 3 ********/

/* 
.presse__20160401--column3--container {
  display: flex;
  align-items: flex-start;
  grid-column: 3;
  margin-top: -3px;
}


.presse__20160401--column3--container:before {
  content: '';
  display: inline-block;
  width: 28px;
  height: 0;
  border-top: 1pt solid var(--silver);
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 3px;
} */

.presse__20160401--date {
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 15px;
}

.presse__20160401--date--datesubtitle {
  font-size: 0.70rem;
  font-weight: 300;
  margin-bottom: 15px;
}

.presse__20160401--date--description {
  font-size: 0.70rem;
  font-weight: 300;
  color:  var(--grey);
}
