/******** MEDIA QUERY ********/
@media all and (min-width: 1100px) {
  .ts_projets {
    .th {
      &__container {
        &--content {
          grid-template-columns: 8px 8px 1fr;
        }
      }
    }
  }
}
@media all and (max-width: 1100px) {
  .ts_projets {
    .th {
      &__container {
        &--content {
          grid-template-columns: 0 0 1fr;
        }
      }
    }
    .arrow {
      opacity: 0;
      max-width: 0;
      max-height: 0;
    }
  }
}




/******** STYLING **********/


.ts_projets {
  --patternColor: rgba(178,178,178,0.30);
  --patternSize: 7.5px;
  text-transform: uppercase;

  .td, .th {
    padding: 0.2rem;
    padding-left: 0.5rem;
  }

  .td:not(:first-child) {
    font-style: italic;
  }

  .td {
    padding-top: 1rem;
    min-height: 50px;
    display: flex;
    
    //justify-content: center;
    //align-items: center;
    //align-content: center;
    
  }

  .th {

    &__container {
      // border: 1px solid #00F;
      font-size: 0.7rem;
      // line-height: 1em;
      font-weight: 500;
      height: 130px;
      display: flex;
      // flex-direction: column;
      // writing-mode: vertical-lr;
      // transform: rotate(-90deg);
      // justify-content: flex-end;
      // align-items: flex-end;
      // align-content: flex-end;

      &--content {
        // border: 2px solid #F00;
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
        //justify-content: center;
        //align-items: center;
        //align-content: center;
        


        // display: grid;
        // justify-content: center;
        // align-items: center;

        .arrow {
          // border: 1px solid #000;
          margin-right: 1px;
          cursor: pointer;
          // transform: rotate(180deg);
          width: 8px;
          height: 8px;
          margin-bottom: 2px;

          // transform: rotate(90deg)
        }

        div {
          // flex-grow: 1;
          // border: 1px solid #000;
          display: flex;
          
          justify-content: flex-start;
          align-items: flex-end;
          margin-left: -1px;
          margin-bottom: 3px;
          //align-content: center;
          
          .column__header {
            height: 1em;
            // border: 1px solid #0F0;
            display: block;
            white-space: nowrap;
            // color: blue;
            transform: rotate(-90deg) translateX(-1em);
            transform-origin: 0 0;
          }
        }

      }
    }
  }




  .td:first-child {
    font-size: 0.7rem;
    font-weight: 500;
    text-decoration: underline;
  }

  .td {
    &__surface {
      text-transform: initial;
    }
  }

  .tr__empty {
    height: 25vh;
    margin-top: 20px;
    margin-bottom: -1px !important;
    & > .tr__contour {
      height: 100%;
    }
  }



  .tr {
    border: 1px solid transparent;
    margin-bottom: 8px;
    font-size: 0.55rem;
    font-weight: 400;


    &__clickable:hover{
      border: 1px solid var(--black);
    }

    &__contour {
      > * {
        // border: 2px solid #F00
      }
      height: 100%;
      display: grid;
      align-content: center;
      grid-row-gap: 10px;
      grid-column-gap: 0;
      border: 1px solid var(--black);
      background-size: var(--patternSize) var(--patternSize);
      background-color: var(--white);
      background-image:   -webkit-linear-gradient(transparent 90%, var(--patternColor) 10%, var(--patternColor)),
                          -webkit-linear-gradient(0deg, transparent 90%, var(--patternColor) 10%, var(--patternColor));
      background-image:   -moz-linear-gradient(transparent 90%, var(--patternColor) 10%, var(--patternColor)),
                          -moz-linear-gradient(0deg, transparent 90%, var(--patternColor) 10%, var(--patternColor));
      background-image:   linear-gradient(transparent 90%, var(--patternColor) 10%, var(--patternColor)),
                          linear-gradient(90deg, transparent 90%, var(--patternColor) 10%, var(--patternColor));
      -pie-background:    linear-gradient(transparent 90%, var(--patternColor) 10%, var(--patternColor)) 0 0 / var(--patternSize) var(--patternSize),
                          linear-gradient(90deg, transparent 90%, var(--patternColor) 10%, var(--patternColor)) 0 0 / var(--patternSize) var(--patternSize) var(--white);
      behavior: url(/pie/PIE.htc);

      &--head {
        padding-top: 20px;
        padding-bottom: 5px;
        // padding-bottom: 10px;
      }
    }
  }

  .thead {
    margin-bottom: 13px;
    background-color: var(--darkWhite);
    border: 2px solid var(--black);
  }

  .noborder {
    border: none;
  }

  .tr0 > * {
    // padding-top: 55px;
  }

  .floorarea {
    width: $dbFloorArea;
  }

}
