/******** MEDIA QUERY ********/

@media all and (min-width: 1100px) {
  .header {

    &__companyName {
      > h1 {
        font-size: 3.4em;
        align-items: start;
      }
    }
    &__divider {
      width: calc(var(--middleColumn) + var(--leftColumn) + var(--gridGap) * 4 + var(--gridGap));

      &--long {
        width: calc(var(--databaseMaxWidth) + var(--leftColumn) + var(--gridGap) * 4);
      }
    }

    &__menu { 
      margin-top: -8px;
      grid-auto-rows: var(--menuItemHeight);
      align-items: start;
      justify-items: start;

    }
  }
}

@media all and (max-width: 1100px) {
  .header {

    &__companyName {
      align-self: end;
      > h1 {
        font-size: calc(1rem + 2vh);
        line-height:0.7em;
        > span {
          align-self: end;
          vertical-align: bottom;
        }
      }
    }
    &__divider {
    }

    &__menu {
      grid-template-columns: repeat(5, calc(var(--menuItemHeight) * 0.75));
      align-items: end;
      justify-self: end;
      > li {
        flex-grow: 1;
        width: var(--gridRowLogoHeight);

        transform: rotate(270deg) translateY(var(--menuItemHeight));
        transform-origin: bottom left;
        font-size: 0.8rem;
      }
    }

  }
}

@media all and (min-width: $columnMaxWidth) {
  .header {

    &__companyName {
      padding-left: 0 !important;
    }
    &__divider {
    }

    &__menu {
      padding-right: 0 !important;
    }

  }
}






/***STYLING***/

.header {
  * {
    // border: 1px solid #F00;
  }

  &__companyName {
    grid-area: logo;
    > h1 {
      display: grid;
      grid-auto-rows: 1.2em;

      text-transform: uppercase;
      -webkit-text-stroke: 0.05em var(--black);
      -webkit-text-fill-color: transparent;
      font-weight: 700;
      // line-height: 1.2em;
      > * {
        z-index: var(--zindexHeaderElements);
      }
    }

  }

  &__divider {
    order: 1;
    grid-area: divider;
    z-index: var(--zindexHeaderElements);
    height: var(--dividerHeight);
    background-color: var(--black);

  }

  &__menu {    
    grid-area: menu;
    display: grid;


    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
    line-height: var(--menuItemHeight);
    list-style: none;

    > * {
      pointer-events: initial;
      z-index: var(--zindexHeaderElements);
    }

    & .active {
      font-weight: 700;
    }
  }
}
