/******** MEDIA QUERY ********/
@media all and (min-width: 1100px) {

}
@media all and (max-width: 1100px) {

}




/******** STYLING **********/

.presse {

  &__container {

  }

  &__content {
    margin-bottom:  30px;
  }

  &__overlay {
    background-color: var(--whiteTransparent);
    opacity: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
    transition: opacity var(--transition);
    &:hover {
      opacity: 1;
    }
  }

  &.main__container--marginbottom {
    margin-top: -30px;
  }
}
