/******** MEDIA QUERY ********/

@media all and (min-width: 1100px) {

}
@media all and (max-width: 1100px) {

}



/******** STYLING **********/

.projet {

  .main__content {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__title {
    text-transform: uppercase;
    -webkit-text-stroke: 1.5px var(--black);
    -webkit-text-fill-color: transparent;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    @media all and (max-width: 1100px) {
      justify-self: start;
      align-self: center;
    }
  }

  &__subtitle, &__subtitle > * {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--black);
    opacity: 0.8;

    > sup {
      font-size: 0.6rem;
    }
  }

  &__subtitle {
    &--headline {
      text-transform: uppercase;        
      font-weight: 400;
      // margin-top: 15px;
    }
    &--location {
      text-transform: capitalize;
      font-weight: 300;
    }

  }

  &__divider {
    width: 100%;
    margin-top: 45px;
    margin-bottom: 45px;
    height: 1px;
    &--thick {
      background-color: var(--black);
    }
    &--thin {
      background-color: var(--silver);
    }
  }

  p {
    opacity: 0.8;
    font-weight: 300;
    margin-bottom: 20px;
  }

  &__image--fullWidth {
    overflow:  hidden;
    display: block;
    width:  100%;
    margin-bottom:  15px;
    margin-top:  15px;

    &.marginbottom {
      margin-bottom: 90px !important;
    }

    &.lessMargin {
      margin-bottom: -60px !important;
    }

    > img {
      max-width:100%;
      max-height:100%;
      height:  auto;
      width:  100%;
    }
  }

  &__arrows {
    --arrowsHeight: 1.4rem;
    --arrowsWidth: calc(var(--arrowsHeight) * 25 / 10);

    height: var(--arrowsHeight);
    width: var(--arrowsWidth);

    grid-column: 2;
    justify-self: end;
    align-self: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    > * {
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &--left, &--right {
      width: calc(var(--arrowsWidth) * 6 / 25);
      cursor: pointer;
      flex-grow: 1;
    }
    &--left {
      background-position: center left;
      // border-right: 1px solid var(--black); 
    }
    &--right {
      background-position: center right;
      // border-left: 1px solid black; 
    }

    &--divider {
      height: 70%;
      width: 1px;
      background-color: var(--black);
      opacity: 0.8;
    }
  }

  &__header {
    
      @media all and (min-width: 1100px) {
        margin-left: var(--leftContentMargin);
      } 
      
      display: grid !important;
      grid-template-rows: 3rem repeat(2, 1rem) 1.4rem repeat(3, 1rem) 0.75rem;
    &--title {
      display: flex; 
      justify-content: space-between !important;
      align-items: center;
      flex-direction: row !important;
      align-self: start !important;
    }
    > * {
      align-self: end;
    }

  }

}
